<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contents</key>
	<array/>
	<key>titles</key>
	<array/>
	<key>aijiashequ</key>
	<string>爱家社区</string>
	<key>item</key>
	<string>渔人自乐</string>
	<key>content</key>
	<dict/>
	<key>title</key>
	<dict>
		<key>New item</key>
		<string></string>
	</dict>
</dict>
</plist>
